<div class="p-question">
    <div class="c-question">
        <p class="c-question__icon">Q</p>
        <p class="c-question__body"><%= text %></p>
        <div class="c-question__toggle"></div>
    </div>
    <div class="c-answer">
        <div class="c-answer__wrap">
            <p class="c-question__icon">A</p>
            <p class="c-answer__body">答えがはいります。答えが入ります。答えが入ります。</p>
        </div>
    </div>
</div>