.c-question__body{
    font-size: rem(14);
    text-align: left;
    width: 70%;
    @media screen and (min-width: 500px) {
        font-size: calc(16/500*100vw);
        width: 75%;
    }
    @include mq(tab){
        font-size: rem(23);
    }
}