.c-section-subtitle{
    font-size: rem(13);
    text-align: center;
    margin-bottom: rem(118);
    position: relative;
}
.c-section-subtitle::before{
    position: absolute;
    content: '';
    width: rem(75);
    height: rem(2);
    top: rem(50);
    left: 50%;
    transform: translateX(-50%);
    background-color: $base-color;
}